weights/icon_caption_blip2
weights/icon_caption_florence
weights/icon_detect/
weights/icon_detect_v1_5/
weights/icon_detect_v1_5_2/
.gradio
__pycache__/
debug.ipynb
util/__pycache__/
index.html?linkid=2289031
wget-log
weights/icon_caption_florence_v2/
omnitool/gradio/uploads/
pip
/.cursor
/work
/weights/*
/.claude
.claude/settings.local.json
/trainning_data
/training_data_s

/logs
training_data_generator/example_code.md
/training_data_generator/raw_images
training_data_generator/.env
